body, h1, h2, h3, header, footer, p, ul, li, table, tr, td, form, input, div, img {
	padding: 0;
	margin: 0;
	border: 0;
    font-family: arial;
}

bodyr {
    min-width:500px;
    width: auto !important;
    width:500px;
}

#logoImg {
    max-width: 100%;
    max-height: 100%;
    padding: 10%;
    float: left;
    padding: 37px 5px 37px 5px;
}

#menuNavButton {
    width: 50px;
    position: absolute;
    right: 70px;
    top: 30px;
    visibility: hidden;
}

#navMenu {
    max-width: 100%;
    max-height: 100px;
}

#navActions {
    max-width: 100%;
}

.menu {
	padding: 0;
	border: 0;
	margin: 0;
	background-color: #294d87;
}

ul {
	list-style-type: none;
}

.menuContent {
	padding: 0 5% 0 5%;
}

#headerFirst ul {
	overflow: hidden;
	margin: 0;
	padding: 0;
}

#headerFirst span {
	float: right;
	padding: 36px 3% 36px 3%;
}

#headerFirst li span:hover:not(.noHover) {
	background-color: #1a3259;
}

#headerFirst li a {
	display: block;
	text-align: center;
	text-decoration: none;
	color: #fff;
    font-size: 1.5em;
}


.content {
	padding: 10% 0 10% 0;
    margin: auto;
    width: 100%;
}

#send_contact:hover {
    background-color: #1a3259;
}

footer {
    background-color: #294d87;
    padding:2% 0 2% 0;
}

#copyright {
    color: #fff;
    font-style: italic;
    font-size: 12px;
    padding: 46%;
}

/* <-- MEDIA SCREENS --> */

/* TABLET */

@media screen and (max-width: 1200px) {
    #navMenu {
        visibility: hidden;
    }
    
    #menuNavButton {
        visibility: visible;
    }
}
